/* CubeBox.css */
.scene {
    width: 200px;
    height: 200px;
    perspective: 1000px;
    cursor: pointer;
}

.cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.scene:hover .cube {
    transform: translateX(-20px) translateY(-40px) rotateX(-15deg) rotateY(15deg);
    z-index: 1;
}

.face-1 {
    position: absolute;
    width: 200px;
    height: 200px;
    background: #16B1CF;
    border: 2px solid #70d2e6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    font-size: 18px;
}

/* Vị trí các mặt */
.front {
    cursor: pointer;
    transform: translateZ(100px);
}

.back {
    transform: rotateY(180deg) translateZ(100px);
}

.right {
    transform: rotateY(90deg) translateZ(100px);
}

.left {
    transform: rotateY(-90deg) translateZ(100px);
}

.top {
    transform: rotateX(90deg) translateZ(100px);
}

.bottom {
    transform: rotateX(-90deg) translateZ(100px);
}

